.term_black {
    color: #000000
}

.term_red {
    color: #cc0000
}

.term_green {
    color: #4e9a06
}

.term_yellow {
    color: #c4a000
}

.term_blue {
    color: #729fcf
}

.term_purple {
    color: #75507b
}

.term_cyan {
    color: #06989a
}

.term_white {
    color: #d3d7cf
}

.term_b_black {
    color: #7b7e78
}

.term_b_red {
    color: #ef2929
}

.term_b_green {
    color: #8ae234
}

.term_b_yellow {
    color: #fce94f
}

.term_b_blue {
    color: #32afff
}

.term_b_purple {
    color: #ad7fa8
}

.term_b_cyan {
    color: #34e2e2
}

.term_b_white {
    color: #ffffff
}