#stack {
  position: relative;
}

#stack>canvas {
  position: absolute;
  background: white;
  margin-left: 10px;
  border-color: slategray;
  border-width: 1px;
  border-style: solid;
}

#reset,
#toggle-play {
  margin-left: 2px;
  margin-right: 2px;
  width: 25px;
  height: 25px;
}

#reset img,
#toggle-play img {
  width: 100%;
  height: 100%;
}

#controls {
  display: flex;
}

.tabContent {
  box-sizing: border-box;
  width: 800px;
  height: 400px;
  overflow: scroll;
  margin-right: 10px;
  resize: none;
  border-color: slategray;
  border-style: solid;
  border-width: 1px;
}

.noScroll {
  overflow: hidden;
}

#codespace {
  display: flex;
  margin-bottom: 10px;
}

#output-toggle-container {
  display: flex;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.posTabBtn {
  border-radius: 5px;
}

.posTabBtn.active {
  background-color: gray;
  color: white;
  border-radius: 5px;
}

.posTabGroup {
  display: flex;
  margin-bottom: 12px;
}

.posTabContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-size: 12px;
  cursor: pointer
}

.posTabContent>div {
  width: 33.33%;
  padding: 5px;
}

.tabBtn {
  margin-right: 5px;
  border-radius: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked+.slider {
  background-color: black;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#output-toggle {
  display: flex;
  margin-bottom: 20px;
}

#js {
  font-family: var(--mono-font);
  text-wrap: nowrap;
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

#console {
  margin-top: 10px;
  overflow: scroll;
  height: 300px;
  font-family: var(--mono-font);
  background: black;
  color: white;
}

:root {
  --mono-font: "Cascadia Code", Courier;
}

div,
textarea,
button {
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#syntax,
#js {
  background: black;
  color: white;
}

.tooltip {
  position: absolute;
  background-color: darkslategrey;
  color: rgb(0, 0, 0);
  width: 30vw;
  height: 20vw;
  border: 1px solid black;
  border-radius: 0.5vw;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.5);
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  scrollbar-width: thin;
}

.tooltip>p {
  color: white;
  margin-left: 10px;
  font-size: 10px;
  cursor: pointer
}

.tooltip>h1 {
  color: white;
  font-size: 16px;
  margin-top: 1px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
